<p-toast></p-toast>

<div class="grid mt-2">
  <div class="col-4">
    <p-button
      label="Crear"
      icon="pi pi-plus"
      styleClass="p-button-primary"
      (onClick)="openNew()"
    ></p-button>
  </div>
</div>
<div class="grid">
  <div class="col-12">
    <p-table #dt [value]="proveedores"
    [rowsPerPageOptions]="[10,25,50]"
    [globalFilterFields]="['nombreCompleto','documento','telefono', 'chapa']" [tableStyle]="{'min-width': '75rem'}"
    [rows]="10"
    [paginator]="true"
    [(selection)]="proveedorSelected"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Clientes</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText #textInput type="text" (input)="dt.filterGlobal(textInput.value, 'contains')" placeholder="Buscar..." />
            </span>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Documento</th>
          <th>Nombre y Apellido</th>
          <th>Telefono</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-proveedor>
        <tr>
          <td>{{ proveedor.id }}</td>
          <td>{{ proveedor.documento }}</td>
          <td>{{ proveedor.nombreCompleto }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>
            <p-button
              icon="pi pi-pencil"
              styleClass="p-button-rounded p-button-success mr-2"
              (onClick)="editProveedor(proveedor)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              styleClass="p-button-rounded p-button-danger"
              (onClick)="deleteProveedor(proveedor)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="proveedorDialog"
  [style]="{ width: '450px' }"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="header"> {{proveedorSelected.id > 0 ? 'Editar Cliente' : 'Crear Cliente'}} </ng-template>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="nombre">Nombre Completo</label>
      <input
        type="text"
        pInputText
        id="nombre"
        name="nombreCompleto"
        [(ngModel)]="proveedorSelected.nombreCompleto"
        required
        autofocus
      />
      <small
        class="p-error"
        *ngIf="submitted && !proveedorSelected.nombreCompleto"
        >Nombre es requerido.</small
      >
    </div>
    <div class="field">
      <label for="documento">Documento</label>
      <input
        id="documento"
        pInputText
        name="documento"
        [(ngModel)]="proveedorSelected.documento"
        required
      />
      <small class="p-error" *ngIf="submitted && !proveedorSelected.documento"
        >Documento es requerido.</small
      >
    </div>
    <div class="field">
      <label for="description">Telefono</label>
      <input
        id="description"
        pInputText
        name="telefono"
        [(ngModel)]="proveedorSelected.telefono"
        required
      />
      <small class="p-error" *ngIf="submitted && !proveedorSelected.telefono"
        >Telefono es requerido.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="guardar()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
