<div class="grid mt-2">
  <div class="col-4">
    <p-button
      label="Crear"
      icon="pi pi-plus"
      styleClass="p-button-primary"
    ></p-button>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <p-table #dt [value]="facturas"
    [rowsPerPageOptions]="[10,25,50]"
    [globalFilterFields]="['descripcion','cliente.nombreCompleto']" [tableStyle]="{'min-width': '75rem'}"
    [rows]="10"
    [paginator]="true"
    [(selection)]="facturaSelected"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Facturas</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText #textInput type="text" (input)="dt.filterGlobal(textInput.value, 'contains')" placeholder="Buscar..." />
            </span>
        </div>

    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Cliente</th>
          <th>Descripcion</th>
          <th>Numero Factura</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-factura>
        <tr>
          <td>{{ factura.id }}</td>
          <td>{{ factura.cliente.nombreCompleto }}</td>
          <td>{{ factura.descripcion }}</td>
          <td> 001-002-99999 </td>
          <td>{{ factura.createAt | date:'dd/MM/yyyy' }}</td>
          <td>
            <p-button
              icon="pi pi-trash"
              styleClass="p-button-rounded p-button-danger"
              (onClick)="deleteFactura(factura)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
