<p-toast></p-toast>
<div class="grid mt-2">
  <div class="col-4">
    <p-button
      label="Crear"
      icon="pi pi-plus"
      styleClass="p-button-primary"
      [routerLink]="['/compra-form', null]"
    ></p-button>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <p-table
      #dt
      [value]="compras"
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="['descripcion', 'proveedor.nombreCompleto']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rows]="10"
      [paginator]="true"
      [(selection)]="compraSelected"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Compras</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              #textInput
              type="text"
              (input)="dt.filterGlobal(textInput.value, 'contains')"
              placeholder="Buscar..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Proveedor</th>
          <th>Descripcion</th>
          <th>Numero Compra</th>
          <th>Fecha</th>
          <th>Total Compra</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-compra>
        <tr>
          <td>{{ compra.id }}</td>
          <td>{{ compra.proveedor.nombreCompleto }}</td>
          <td>{{ compra.descripcion }}</td>
          <td>{{ compra.nroFactura }}</td>
          <td>{{ compra.createAt | date : "dd/MM/yyyy" }}</td>
          <td>{{ compra.totalCompra | number:'1.0-0' }}</td>
          <td>
            <p-button
              icon="pi pi-trash"
              styleClass="p-button-rounded p-button-danger"
              (onClick)="deleteCompra(compra.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
